* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-image: url("./assets/images/logo.jpg");
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

div,
a,
li,
h1,
h2,
h3,
h4,
input,
textarea,
button,
label {
  // font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
