@import "../../../sass/variables.scss";

.mainFooter {
  height: 90px;
  width: 100%;
  background-color: red;
  display: flex;
  background-color: $layout-color;
  color: $text-color;
  z-index: 1000;
  position: relative;
  bottom: 0;
  &.fixed {
    position: fixed;
    background-color: $layout-color;
  }
}

.mainFooterSection {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  a {
    color: $text-color;
  }
  nav {
    height: 100%;
  }
}

.mainFooterNavList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  li {
    width: calc(100% / 3);
    text-align: center;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 25px;
      width: 35px;
      cursor: pointer;
    }
    a {
      color: $text-color;
    }
  }
}

.mainFooterSocial {
  flex-direction: row;
  justify-content: center;
}

.mainFooterIcon {
  margin: 0 10px;
  a {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  img {
    height: 40px;
    width: 40px;
    margin-top: 5px;
  }
}

// MEDIA //

@media screen and (max-width: 1370px) {
  .mainFooter {
    height: 120px;
  }
  .mainFooterNavList {
    li {
      width: calc(100% / 2);
    }
  }
}

@media screen and (max-width: 1180px) {
  .mainFooterNav {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .mainFooterContacts {
    flex: 2;
  }
}

@media screen and (max-width: 520px) {
  .mainFooterContacts {
    flex: 3;
  }
}

@media screen and (max-width: 460px) {
  .mainFooterContacts {
    padding: 0 10px;
    box-sizing: border-box;
    span {
      word-wrap: break-word;
      text-align: center;
    }
  }
}
