@import "../../../../sass/variables.scss";

.ourWorkGallery__backdrop {
  height: calc(100% - 180px);
  margin-top: 90px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.9);
  z-index: 10000;
}

.ourWorkGallery__carousel {
  height: 100%;
  z-index: 10000;
  margin: 0 auto;
  position: relative;
}

.ourWorkGallery__close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  height: 40px;
  width: 40px;
  z-index: 70;
  img {
    height: 100%;
    width: 100%;
  }
}

.ourWorkGallery__controllerLeft,
.ourWorkGallery__controllerRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  height: 40px;
  width: 40px;
  z-index: 70;
  img {
    height: 100%;
    width: 100%;
  }
}

.ourWorkGallery__controllerLeft {
  left: 15px;
  transform: translateY(-50%) rotate(180deg);
}

.ourWorkGallery__controllerRight {
  right: 15px;
}

.ourWorkGallery__carousel__content {
  height: calc(100% - 90px);
  display: flex;
  transition: 300ms ease;
}

.ourWorkGallery__carousel__imgWrap {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h2 {
    margin: 15px 0;
    color: $text-color;
    text-align: center;
  }
  img {
    height: auto;
    width: auto;
    max-width: 90%;
    min-height: calc(100% - 70px);
  }
}

// MEDIA //

@media screen and (max-width: 1100px) {
  .ourWorkGallery__carousel__imgWrap {
    img {
      max-width: calc(90% - 150px);
      min-height: calc(100% - 70px - 150px);
    }
  }

  .ourWorkGallery__backdrop {
    height: calc(100% - 210px);
  }
}

@media screen and (max-width: 400px) {
  .ourWorkGallery__carousel__imgWrap {
    img {
      min-height: calc(100% - 70px - 300px);
    }
  }
}
